@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-montserrat: Montserrat, sans-serif;

  --shadow-custom: 0 0 15px rgba(0, 0, 0, 0.3);
  --shadow-right: 10px 0px 10px -5px rgba(0, 0, 0, 0.3);

  --color-custom-blue: rgba(28, 100, 242, 1);

  --color-banner-color1: #fdc200;
  --color-banner-color2: #ff2c2c;
  --color-banner-color3: #21ad61;
  --color-banner-color4: #723da6;
  --color-banner-color5: #034d9c;
  --color-banner-color6: #ba0ea0;

  --background-image-custom-gradient: linear-gradient(
    to right,
    #111827,
    #1f2937
  );
  --background-image-button-gradient: linear-gradient(
    to right,
    #7e22ce,
    #ef4444
  );
  --background-image-custom-gradient2: linear-gradient(
    135deg,
    #f5f5f5,
    #eae7dc
  );

}

@keyframes slide-right {
  0% {
    opacity: 0;
    transform: translateX(3rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-slide-right {
    animation: slide-right 0.5s ease-out forwards;
  }
  .animate-fade-up {
    animation: fade-up 0.4s ease-out forwards;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}